@model ResetPasswordViewModel

<h2>@AuthenticationResources.ResetPassword</h2>
<hr />

@using (Html.BeginForm("ResetPassword", "Authentication", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Code)

    <div class="@AppDefaults.CSSClassForm" style="margin-left: 16px;">

        <div class="@AppDefaults.CSSClassGroup col-md-3">
            @Html.LabelFor(model => model.Email, new { @class = AppDefaults.CSSClassLabelRequired })
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = AppDefaults.CSSClassEditor } })
        </div>

        @Html.ZNewLine()

        <div class="@AppDefaults.CSSClassGroup col-md-3">
            @Html.LabelFor(model => model.Password, new { @class = AppDefaults.CSSClassLabelRequired })
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = AppDefaults.CSSClassEditor, @type = "password" } })
        </div>

        @Html.ZNewLine()

        <div class="@AppDefaults.CSSClassGroup col-md-3">
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = AppDefaults.CSSClassLabelRequired })
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = AppDefaults.CSSClassEditor, @type = "password" } })
        </div>

        @Html.ZNewLine()

    </div>

    <br />

    <div class="@AppDefaults.CSSClassFormButtons" style="margin-left: -2px;">

        <input type="submit" value="@PresentationResources.OK" class="btn btn-default col-md-3" />

    </div>
}
