@model AuditTrailConfigurationItemModel

@{
    string CSHTML = "_AuditTrailConfiguration.cshtml";

    IZProfile profile = DataHelper.GetProfile(typeof(AuditTrailConfiguration));
    // Associations (FK)

    // !?!
    List<SelectListItem> logModeItems = new List<SelectListItem>();
    logModeItems.Add(new SelectListItem
    {
        Text = AuditTrailResources.LogModeNone,
        Value = "N",
        Selected = true
    });
    logModeItems.Add(new SelectListItem
    {
        Text = AuditTrailResources.LogModeKey,
        Value = "K"
    });
    logModeItems.Add(new SelectListItem
    {
        Text = AuditTrailResources.LogModeEntity,
        Value = "E"
    });
}

<div id="Item_AuditTrailConfiguration">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.ControllerAction, new { id = "AuditTrailConfiguration_Item_ControllerAction" })
    @Html.HiddenFor(model => model.MasterEntity, new { id = "AuditTrailConfiguration_Item_MasterEntity" })
    @Html.HiddenFor(model => model.MasterKey, new { id = "AuditTrailConfiguration_Item_MasterKey" })
    @Html.ZHiddenFor(model => model.IsReadOnly, "AuditTrailConfiguration_Item_IsReadOnly")
    @Html.ZHiddenFor(model => model.IsSave, "AuditTrailConfiguration_Item_IsSave")

    @{Html.EJ().Tab("Tab_AuditTrailConfiguration")
        .ClientSideEvents(clientEvent => clientEvent
            .ItemActive("itemActive_Tab_AuditTrailConfiguration")
        )
        //.EnablePersistence()
        .Items(data =>
        {
        data.Add().ID("TabSheet_AuditTrailConfiguration_AuditTrailConfiguration").Text(AuditTrailConfigurationResources.EntitySingular).ContentTemplate(@<div class="@AppDefaults.CSSClassPanel"> 

            <div id="Group_AuditTrailConfiguration_Id" class="@profile.EditCSSFor("Id")">
                @Html.LabelFor(model => model.AuditTrailConfiguration.Id, new { @class = profile.EditCSSLabelFor("Id") })
                @Html.EditorFor(model => model.AuditTrailConfiguration.Id, new { htmlAttributes = new { @class = profile.EditCSSEditorFor("Id") }, id = "AuditTrailConfiguration_Id" })
                @* @Html.ValidationMessageFor(model => model.AuditTrailConfiguration.Id, "", new { @class = AppDefaults.CSSClassValidator }) *@
            </div>

            <div id="Group_AuditTrailConfiguration_Domain" class="@profile.EditCSSFor("Domain")">
                @Html.LabelFor(model => model.AuditTrailConfiguration.Domain, new { @class = profile.EditCSSLabelFor("Domain") })
                @Html.EditorFor(model => model.AuditTrailConfiguration.Domain, new { htmlAttributes = new { @class = profile.EditCSSEditorFor("Domain") }, id = "AuditTrailConfiguration_Domain" })
                @* @Html.ValidationMessageFor(model => model.AuditTrailConfiguration.Domain, "", new { @class = AppDefaults.CSSClassValidator }) *@
            </div>

            <div id="Group_AuditTrailConfiguration_Entity" class="@profile.EditCSSFor("Entity")">
                @Html.LabelFor(model => model.AuditTrailConfiguration.Entity, new { @class = profile.EditCSSLabelFor("Entity") })
                @Html.EditorFor(model => model.AuditTrailConfiguration.Entity, new { htmlAttributes = new { @class = profile.EditCSSEditorFor("Entity") }, id = "AuditTrailConfiguration_Entity" })
                @* @Html.ValidationMessageFor(model => model.AuditTrailConfiguration.Entity, "", new { @class = AppDefaults.CSSClassValidator }) *@
            </div>

            @Html.ZNewLine()

            <div id="Group_AuditTrailConfiguration_LogMode" class="@profile.EditCSSFor("LogMode")">
                @Html.LabelFor(model => model.AuditTrailConfiguration.LogMode, new { @class = profile.EditCSSLabelFor("LogMode") })
                @* @Html.EditorFor(model => model.AuditTrailConfiguration.LogMode, new { htmlAttributes = new { @class = profile.EditCSSEditorFor("LogMode") }, id = "AuditTrailConfiguration_LogMode" }) *@
                @Html.DropDownListFor(model => model.AuditTrailConfiguration.LogMode, logModeItems, AuditTrailConfigurationResources.PropertyLogMode, new { @class = profile.EditCSSEditorFor("LogMode") })
                @* @Html.ValidationMessageFor(model => model.AuditTrailConfiguration.LogMode, "", new { @class = AppDefaults.CSSClassValidator }) *@
            </div>

            <div id="Group_AuditTrailConfiguration_LogOperations" class="@profile.EditCSSFor("LogOperations")">
                @Html.LabelFor(model => model.AuditTrailConfiguration.LogOperations, new { @class = profile.EditCSSLabelFor("LogOperations") })
                @Html.EditorFor(model => model.AuditTrailConfiguration.LogOperations, new { htmlAttributes = new { @class = profile.EditCSSEditorFor("LogOperations") }, id = "AuditTrailConfiguration_LogOperations" })
                @* @Html.ValidationMessageFor(model => model.AuditTrailConfiguration.LogOperations, "", new { @class = AppDefaults.CSSClassValidator }) *@
            </div>

        </div>);
        })
        .Render();
    }
</div>

<script>
    zSyncfusionItem("Item_AuditTrailConfiguration");

    $(function () {
        try {
            zSyncfusionItemReady("Item_AuditTrailConfiguration");

            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
            var profile = @Html.Raw(JsonConvert.SerializeObject(profile));
            var controllerAction = model.ControllerAction == null ? "" : model.ControllerAction.toLowerCase();

            // Collections (PK)

            if (controllerAction != "create" || profile.IsIdentity) {
                $("#Group_AuditTrailConfiguration_Id").hide();
            }

            // Associations (FK)

            zOnItemView(model, profile);
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "function", exception));
        }
    });

    function itemActive_Tab_AuditTrailConfiguration(args) {
        zTabDictionaryWrite("AuditTrailConfiguration", args.model.selectedItemIndex);

        try {
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "itemActive_Tab_AuditTrailConfiguration", exception));
        }
    }
</script>
