@model AuditTrailLogCollectionModel

@{
    string CSHTML = "_AuditTrailLogCollection.cshtml";

    IZProfile profile = DataHelper.GetProfile(typeof(AuditTrailLog));
    // Associations (FK)
    string query = "";
}

<div id="Collection_AuditTrailLog">
    @(Html.EJ().Grid<AuditTrailLog>("Grid_AuditTrailLog")
        //.Datasource(datasource => datasource
        //    .Adaptor(AdaptorType.UrlAdaptor)
        //    .URL(Url.Action("DataSource", "AuditTrailLog"))
        //)
        .Query(query)
        .AllowFiltering()
        .AllowGrouping()
        .AllowPaging()
        .AllowReordering()
        //.AllowResizeToFit()
        .AllowResizing()
        //.AllowScrolling()
        .AllowSearching()
        .AllowSorting()
        .AllowTextWrap()
        .TextWrapSettings(wrap =>
        {
            wrap.WrapMode(WrapMode.Both);
        })
        .ClientSideEvents(clientEvent => clientEvent
            .ActionBegin("actionBegin_Grid_AuditTrailLog")
            .ActionFailure("actionFailure_Grid_AuditTrailLog")
            .Load("load_Grid_AuditTrailLog")
            .ToolbarClick("toolbarClick_Grid_AuditTrailLog")
        )
        .Columns(column =>
        {
            column.Field("Id")
                .AllowEditing(false)
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(AuditTrailLogResources.PropertyId)
                .IsIdentity(true)
                .IsPrimaryKey(true)
                .TextAlign(TextAlign.Right)
                .Visible(profile.IsGridVisibleFor("Id"))
                .Width(profile.GridWidthFor("Id"))
                .Add();
            column.Field("LogDate")
                .Type("datetime")
                .EditType(EditingType.DateTimePicker)
                .Format(SyncfusionPatternResources.GridFormat_DateTime)
                .HeaderText(AuditTrailLogResources.PropertyLogDate)
                .Visible(profile.IsGridVisibleFor("LogDate"))
                .Width(profile.GridWidthFor("LogDate"))
                .Add();
            column.Field("LogTime")
                .Type("datetime")
                .EditType(EditingType.DateTimePicker)
                .Format(SyncfusionPatternResources.GridFormat_DateTime)
                .HeaderText(AuditTrailLogResources.PropertyLogTime)
                .Visible(profile.IsGridVisibleFor("LogTime"))
                .Width(profile.GridWidthFor("LogTime"))
                .Add();
            column.Field("LogUserName")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(AuditTrailLogResources.PropertyLogUserName)
                .Visible(profile.IsGridVisibleFor("LogUserName"))
                .Width(profile.GridWidthFor("LogUserName"))
                .Add();
            column.Field("LogDomain")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(AuditTrailLogResources.PropertyLogDomain)
                .Visible(profile.IsGridVisibleFor("LogDomain"))
                .Width(profile.GridWidthFor("LogDomain"))
                .Add();
            column.Field("LogEntity")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(AuditTrailLogResources.PropertyLogEntity)
                .Visible(profile.IsGridVisibleFor("LogEntity"))
                .Width(profile.GridWidthFor("LogEntity"))
                .Add();
            column.Field("LogOperation")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(AuditTrailLogResources.PropertyLogOperation)
                .Visible(profile.IsGridVisibleFor("LogOperation"))
                .Width(profile.GridWidthFor("LogOperation"))
                .Add();
            column.Field("LogId")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(AuditTrailLogResources.PropertyLogId)
                .Visible(profile.IsGridVisibleFor("LogId"))
                .Width(profile.GridWidthFor("LogId"))
                .Add();
            column.Field("LogEntityBefore")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(AuditTrailLogResources.PropertyLogEntityBefore)
                .Visible(profile.IsGridVisibleFor("LogEntityBefore"))
                .Width(profile.GridWidthFor("LogEntityBefore"))
                .Add();
            column.Field("LogEntityAfter")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(AuditTrailLogResources.PropertyLogEntityAfter)
                .Visible(profile.IsGridVisibleFor("LogEntityAfter"))
                .Width(profile.GridWidthFor("LogEntityAfter"))
                .Add();
        })
        .EditSettings(edit => edit
            .AllowAdding()
            .AllowDeleting()
            .AllowEditing()
            .AllowEditOnDblClick(false)
        )
        //.EnablePersistence()
        .EnableTouch(false)
        //.IsResponsive(true)
        .FilterSettings(filter => filter
            .EnableCaseSensitivity(false)
            .FilterType(FilterType.Excel)
            .MaxFilterChoices(AppDefaults.SyncfusionRecordsForFiltering)
        )
        //.Mappers(map => map
        //    .ExportToExcelAction(Url.Content("~/AuditTrailLog/ExportToExcel"))
        //    .ExportToPdfAction(Url.Content("~/AuditTrailLog/ExportToPdf"))
        //    .ExportToWordAction(Url.Content("~/AuditTrailLog/ExportToWord"))
        //)
        .PageSettings(page => page
            .PageSize(AppDefaults.SyncfusionRecordsByPage)
        )
        .ShowColumnChooser()
        .ToolbarSettings(toolbar => toolbar
            .CustomToolbarItems(new List<object>() {
                new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Grid_AuditTrailLog_Toolbar", Tooltip = "" }
            })
            .ShowToolbar()
            .ToolbarItems(items =>
            {
                items.AddTool(ToolBarItems.Search);
                items.AddTool(ToolBarItems.Add);
                items.AddTool(ToolBarItems.Edit);
                items.AddTool(ToolBarItems.Delete);
                //items.AddTool(ToolBarItems.ExcelExport);
                //items.AddTool(ToolBarItems.PdfExport);
                //items.AddTool(ToolBarItems.WordExport);
            })
        )
    )
</div>

<script type="text/x-jsrender" id="Grid_AuditTrailLog_Toolbar">
    <div id="Grid_AuditTrailLog_Toolbar_Read" class="e-toolbaricons e-icon e-document" title="@PresentationResources.Read"></div>
    <div id="Grid_AuditTrailLog_Toolbar_Refresh" class="e-toolbaricons e-icon e-reload" title="@PresentationResources.Refresh"></div>
</script>

<script>
    zSyncfusionCollection("Collection_AuditTrailLog");

    $(function () {
        try {
            zSyncfusionCollectionReady("Collection_AuditTrailLog");

            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
            var profile = @Html.Raw(JsonConvert.SerializeObject(profile));

            zOnCollectionView(model, profile, "@Url.Action("DataSource", "AuditTrailLog")");
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "function", exception));
        }
    });

    function actionBegin_Grid_AuditTrailLog(args) {
        try {
            var model = @Html.Raw(JsonConvert.SerializeObject(Model));

            // Associations (FK)
            var url = "";

            var scrud = zOnCollectionViewActionBeginSCRUD(model);
            switch (args.requestType) {
                case "searching":
                    // Search
                    if (scrud.isSearch) {
                        zSearchDictionaryWrite("AuditTrailLog", args.keyValue);
                    }
                    break;
                case "add":
                    // Create
                    if (model.ActivityOperations.IsCreate && scrud.isCreate) {
                        $("#ZAjax").load("@(Url.Action("Create", "AuditTrailLog", null, Request.Url.Scheme))" +
                            (url == "" ? "" : "?") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                    }
                    break;
                case "read":
                    // Read
                    if (model.ActivityOperations.IsRead && scrud.isRead) {
                        var data = args.data;
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Read", "AuditTrailLog", null, Request.Url.Scheme))?Id=" + String(data.Id) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;
                case "beginedit":
                    // Update
                    if (model.ActivityOperations.IsUpdate && scrud.isUpdate) {
                        var data = this.model.currentViewData[args.rowIndex];
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Update", "AuditTrailLog", null, Request.Url.Scheme))?Id=" + String(data.Id) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;
                case "delete":
                    // Delete
                    if (model.ActivityOperations.IsDelete && scrud.isDelete) {
                        var data = args.data;
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Delete", "AuditTrailLog", null, Request.Url.Scheme))?Id=" + String(data.Id) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;
            }

            zOnCollectionViewActionBegin(model, args);
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "actionBegin_Grid_AuditTrailLog", exception));
        }
    }

    function actionFailure_Grid_AuditTrailLog(args) {
        try {
            zAlert(args.error.responseText);
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "actionFailure_Grid_AuditTrailLog", exception));
        }
    }

    function load_Grid_AuditTrailLog(args) {
        try {
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            this.model.locale = culture;
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "load_Grid_AuditTrailLog", exception));
        }
    }

    function toolbarClick_Grid_AuditTrailLog(sender) {
        try {
            var toolbar = $(sender.target);
            var ejGrid = zGrid("Grid_AuditTrailLog");

            if (toolbar.prop("id") == "Grid_AuditTrailLog_Toolbar_Refresh") {
                ejGrid.refreshContent();
            } else if (toolbar.prop("id") == "Grid_AuditTrailLog_Toolbar_Read") {
                var records = ejGrid.getSelectedRecords();
                if (records.length == 1) {
                    var args = { requestType: "read", data: records[0] };
                    actionBegin_Grid_AuditTrailLog(args);
                }
            }
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "toolbarClick_Grid_AuditTrailLog", exception));
        }
    }
</script>
