@model SupplierCollectionModel

@{
    string CSHTML = "_SupplierCollection.cshtml";

    IZProfile profile = DataHelper.GetProfile(typeof(Supplier));
    // Associations (FK)
    string query = "";
}

<div id="Collection_Supplier">
    @(Html.EJ().Grid<Supplier>("Grid_Supplier")
        //.Datasource(datasource => datasource
        //    .Adaptor(AdaptorType.UrlAdaptor)
        //    .URL(Url.Action("DataSource", "Supplier"))
        //)
        .Query(query)        
        .AllowFiltering()
        .AllowGrouping()
        .AllowPaging()
        .AllowReordering()
        //.AllowResizeToFit()
        .AllowResizing()
        //.AllowScrolling()
        .AllowSearching()
        .AllowSorting()
        .AllowTextWrap()
        .TextWrapSettings(wrap =>
        {
            wrap.WrapMode(WrapMode.Both);
        })                    
        .ClientSideEvents(clientEvent => clientEvent
            .ActionBegin("actionBegin_Grid_Supplier")
            .ActionFailure("actionFailure_Grid_Supplier")
            .Load("load_Grid_Supplier")
            .ToolbarClick("toolbarClick_Grid_Supplier")
        )
        .Columns(column =>
        {
            column.Field("SupplierId")
                .AllowEditing(false)
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(SupplierResources.PropertySupplierId)
                .IsIdentity(true)
                .IsPrimaryKey(true)
                .TextAlign(TextAlign.Right)
                .Visible(profile.IsGridVisibleFor("SupplierId"))
                .Width(profile.GridWidthFor("SupplierId"))
                .Add();
            column.Field("CompanyName")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(SupplierResources.PropertyCompanyName)
                .Visible(profile.IsGridVisibleFor("CompanyName"))
                .Width(profile.GridWidthFor("CompanyName"))
                .Add();
            column.Field("ContactName")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(SupplierResources.PropertyContactName)
                .Visible(profile.IsGridVisibleFor("ContactName"))
                .Width(profile.GridWidthFor("ContactName"))
                .Add();
            column.Field("ContactTitle")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(SupplierResources.PropertyContactTitle)
                .Visible(profile.IsGridVisibleFor("ContactTitle"))
                .Width(profile.GridWidthFor("ContactTitle"))
                .Add();
            column.Field("Address")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(SupplierResources.PropertyAddress)
                .Visible(profile.IsGridVisibleFor("Address"))
                .Width(profile.GridWidthFor("Address"))
                .Add();
            column.Field("City")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(SupplierResources.PropertyCity)
                .Visible(profile.IsGridVisibleFor("City"))
                .Width(profile.GridWidthFor("City"))
                .Add();
            column.Field("Region")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(SupplierResources.PropertyRegion)
                .Visible(profile.IsGridVisibleFor("Region"))
                .Width(profile.GridWidthFor("Region"))
                .Add();
            column.Field("PostalCode")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(SupplierResources.PropertyPostalCode)
                .Visible(profile.IsGridVisibleFor("PostalCode"))
                .Width(profile.GridWidthFor("PostalCode"))
                .Add();
            column.Field("Country")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(SupplierResources.PropertyCountry)
                .Visible(profile.IsGridVisibleFor("Country"))
                .Width(profile.GridWidthFor("Country"))
                .Add();
            column.Field("Phone")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(SupplierResources.PropertyPhone)
                .Visible(profile.IsGridVisibleFor("Phone"))
                .Width(profile.GridWidthFor("Phone"))
                .Add();
            column.Field("Fax")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(SupplierResources.PropertyFax)
                .Visible(profile.IsGridVisibleFor("Fax"))
                .Width(profile.GridWidthFor("Fax"))
                .Add();
            column.Field("HomePage")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(SupplierResources.PropertyHomePage)
                .Visible(profile.IsGridVisibleFor("HomePage"))
                .Width(profile.GridWidthFor("HomePage"))
                .Add();
        })
        .EditSettings(edit => edit
            .AllowAdding()
            .AllowDeleting()
            .AllowEditing()
            .AllowEditOnDblClick(false)
        )
        //.EnablePersistence()
        .EnableTouch(false)
        //.IsResponsive(true)
        .FilterSettings(filter => filter
            .EnableCaseSensitivity(false)
            .FilterType(FilterType.Excel)
            .MaxFilterChoices(AppDefaults.SyncfusionRecordsForFiltering)
        )
        //.Mappers(map => map
        //    .ExportToExcelAction(Url.Content("~/Supplier/ExportToExcel"))
        //    .ExportToPdfAction(Url.Content("~/Supplier/ExportToPdf"))
        //    .ExportToWordAction(Url.Content("~/Supplier/ExportToWord"))
        //)
        .PageSettings(page => page
            .PageSize(AppDefaults.SyncfusionRecordsByPage)
        )
        .ShowColumnChooser()
        .ToolbarSettings(toolbar => toolbar
            .CustomToolbarItems(new List<object>() {
                new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Grid_Supplier_Toolbar", Tooltip = "" }
            })
            .ShowToolbar()
            .ToolbarItems(items =>
            {
                items.AddTool(ToolBarItems.Search);
                items.AddTool(ToolBarItems.Add);
                items.AddTool(ToolBarItems.Edit);
                items.AddTool(ToolBarItems.Delete);
                //items.AddTool(ToolBarItems.ExcelExport);
                //items.AddTool(ToolBarItems.PdfExport);
                //items.AddTool(ToolBarItems.WordExport);
            })
        )
    )
</div>

<script type="text/x-jsrender" id="Grid_Supplier_Toolbar">
    <div id="Grid_Supplier_Toolbar_Read" class="e-toolbaricons e-icon e-document" title="@PresentationResources.Read"></div>
    <div id="Grid_Supplier_Toolbar_Refresh" class="e-toolbaricons e-icon e-reload" title="@PresentationResources.Refresh"></div>
</script>

<script>
    zSyncfusionCollection("Collection_Supplier");
    
    $(function () {
        try {
            zSyncfusionCollectionReady("Collection_Supplier");

            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
            var profile = @Html.Raw(JsonConvert.SerializeObject(profile));

            zOnCollectionView(model, profile, "@Url.Action("DataSource", "Supplier")");
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "function", exception));
        }                
    });
    
    function actionBegin_Grid_Supplier(args) {
        try {
            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
    
            // Associations (FK)
            var url = "";

            var scrud = zOnCollectionViewActionBeginSCRUD(model);
            switch (args.requestType) {
                case "searching":
                    // Search
                    if (scrud.isSearch) {
                        zSearchDictionaryWrite("Supplier", args.keyValue);
                    }
                    break;
                case "add":
                    // Create
                    if (model.ActivityOperations.IsCreate && scrud.isCreate) {
                        $("#ZAjax").load("@(Url.Action("Create", "Supplier", null, Request.Url.Scheme))" +
                            (url == "" ? "" : "?") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                    }
                    break;
                case "read":
                    // Read
                    if (model.ActivityOperations.IsRead && scrud.isRead) {
                        var data = args.data;
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Read", "Supplier", null, Request.Url.Scheme))?SupplierId=" + String(data.SupplierId) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;                        
                case "beginedit":
                    // Update
                    if (model.ActivityOperations.IsUpdate && scrud.isUpdate) {
                        var data = this.model.currentViewData[args.rowIndex];
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Update", "Supplier", null, Request.Url.Scheme))?SupplierId=" + String(data.SupplierId) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;
                case "delete":
                    // Delete
                    if (model.ActivityOperations.IsDelete && scrud.isDelete) {
                        var data = args.data;
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Delete", "Supplier", null, Request.Url.Scheme))?SupplierId=" + String(data.SupplierId) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;
            }

            zOnCollectionViewActionBegin(model, args);
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "actionBegin_Grid_Supplier", exception));
        }            
    }
    
    function actionFailure_Grid_Supplier(args) {
        try {
            zAlert(args.error.responseText);
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "actionFailure_Grid_Supplier", exception));
        }
    }    

    function load_Grid_Supplier(args) {
        try {            
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            this.model.locale = culture;
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "load_Grid_Supplier", exception));
        }
    }

    function toolbarClick_Grid_Supplier(sender) {
        try {
            var toolbar = $(sender.target);
            var ejGrid = zGrid("Grid_Supplier");

            if (toolbar.prop("id") == "Grid_Supplier_Toolbar_Read") {
                var records = ejGrid.getSelectedRecords();
                if (records.length == 1) {
                    var args = { requestType: "read", data: records[0] };
                    actionBegin_Grid_Supplier(args);
                }
            }
            else if (toolbar.prop("id") == "Grid_Supplier_Toolbar_Refresh") {
                ejGrid.refreshContent();
            }
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "toolbarClick_Grid_Supplier", exception));
        }
    }
</script>
