<!DOCTYPE html>

@{
    string imageAJAX = Url.Content("~/Images/ajax.gif");
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@AppHelper.DocumentTitle(@ViewBag.Title)</title>

    @* CSS *@

    @System.Web.Optimization.Styles.Render("~/content/z-css.css")
    @System.Web.Optimization.Styles.Render("~/content/z-syncfusion.css")
    @System.Web.Optimization.Styles.Render("~/content/z-syncfusion-theme.css")
    @System.Web.Optimization.Styles.Render("~/content/z-easylob.css")

    @RenderSection("Styles", required: false)

    @* JavaScript *@

    @Scripts.Render("~/scripts/z-jquery.js")
    @Scripts.Render("~/scripts/z-jquery-ajax.js")
    @Scripts.Render("~/scripts/z-bootstrap.js")
    @Scripts.Render("~/scripts/z-modernizr.js")
    @Scripts.Render("~/scripts/z-syncfusion.js")
    @Scripts.Render("~/scripts/z-easylob.js")

    @RenderSection("Scripts", required: false)

</head>
<body>
    <div>
        <div>
            <div id="Layout_Status" class="container z-layoutStatus" style="border-radius: 4px;margin-bottom: 4px">

                <h5>
                    [ @CultureInfo.CurrentUICulture.EnglishName <img class="z-culture-@CultureInfo.CurrentCulture.Name" /> ]
                    &nbsp;&nbsp;&nbsp;
                    <img id="AJAXProgress" src="@imageAJAX" />
                </h5>

                <div id="ZAlert"></div>

            </div>
            <div id="Layout_Menu" class="container z-layoutMenu">

                @(Html.EJ().Menu("ZMenu")
                    .IsResponsive(true)
                    .MenuFields(menuFields => menuFields
                        .Datasource((IEnumerable<AppMenu>)ViewBag.Menu)
                        .Id("Id")
                        .Text("Text")
                        .ParentId("ParentId")
                        .Url("Url")
                    )
                )

            </div>
            <div id="Layout_Body" class="container body-content z-layoutBody">

                @RenderBody()

            </div>
        </div>
    </div>

    <script>

        $(function () {
            try {
                var isAuthenticated = @Request.IsAuthenticated.ToString().ToLower();
                //var isAuthenticated = @User.Identity.IsAuthenticated.ToString().ToLower();

                if (isAuthenticated)
                {
                    $("#ZMenu").show();
                }
                else
                {
                    $("#ZMenu").hide();
                }

                // jQuery Globalize
                Globalize.culture("@CultureInfo.CurrentCulture.Name"); // !?! Culture

                // Syncfusion
                //var serverTimeZoneDifference = -3.0;
                //var clientSideTimeZoneDifference = new Date().getTimezoneOffset() / 60;
                //ej.serverTimeZoneOffset = serverTimeZoneDifference + clientSideTimeZoneDifference;

                // ENTER => TAB
                $('input').keypress(function (event) {
                    if (event.which == 13) {
                        //$(this).next('input').focus();
                        $(this).tabStop(1).focus();
                        event.preventDefault();
                    }
                });

                $("#AJAXProgress").hide();
            } catch (exception) {
                zAlert(zExceptionMessage("_Layout.cshtml", "function", exception));
            }
        });

        $(document)
            .hide()
            .ajaxSend(function(event, jqxhr, settings) {

                $("#AJAXProgress").show();
            })
            .ajaxComplete(function(event, jqxhr, settings) {

                $("#AJAXProgress").hide();
            })

    </script>
</body>
</html>
