@model UserRoleItemModel

@{
    string CSHTML = "UserRole - CRUD.cshtml";

    string controllerAction = Model.ControllerAction.ToLower();
    string controllerActionResource = PresentationResources.ResourceManager.GetString(Model.ControllerAction);

    string pageTitle = AppHelper.PageTitle(UserRoleResources.EntitySingular, controllerAction, controllerActionResource, Model.IsMasterDetail);
    string documentTitle = AppHelper.DocumentTitle(pageTitle, Model.IsMasterDetail);
}

@using (Ajax.BeginForm(Model.ControllerAction, "UserRole", AppHelper.AjaxOptions, new { id = "Form_UserRole", style = "display: none;" }))
{
    @Html.AntiForgeryToken()

    <h4>@pageTitle</h4>

    <div class="@AppDefaults.CSSClassForm">
        @{ Html.RenderPartial("_UserRoleItem", Model); }
    </div>

    <div class="@AppDefaults.CSSClassFormButtons">
        @Ajax.ZImageLink("Button_Cancel", Url.Action("Search", "UserRole"), "ZAjax", "btn z-buttonCancel", PresentationResources.Cancel)
        @Html.ZImageInput("Button_Save", "btn z-buttonSave", PresentationResources.Save, "$('#UserRole_Item_IsSave').val('True');")
        @Html.ZImageInput("Button_OK", "btn z-buttonOk", controllerActionResource)        
    </div> 
}

<script>
    $(function () {
        try {
            var model = @Html.Raw(JsonConvert.SerializeObject(Model));

            var url = zUrlDictionaryRead("UserRole");
            if (url) {
                $("#Button_Cancel").attr("href", url);
            }            

            $(document).prop("title", "@Html.Raw(documentTitle)");
            
            zOnCRUDView(model);
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "function", exception.message));
        }
    });
</script>