@model EmployeeTerritoryCollectionModel

@{
    string CSHTML = "_EmployeeTerritoryCollection.cshtml";

    IZProfile profile = DataHelper.GetProfile(typeof(EmployeeTerritory));
    // Associations (FK)
    string query = "";
    switch (Model.MasterEntity)
    {
        case "Employee":
            query = String.Format("ej.Query().where(\"EmployeeId\", ej.FilterOperators.equal, {0})", Model.MasterKey);
            break;
        case "Territory":
            query = String.Format("ej.Query().where(\"TerritoryId\", ej.FilterOperators.equal, \"{0}\")", Model.MasterKey);
            break;
    }
}

<div id="Collection_EmployeeTerritory">
    @(Html.EJ().Grid<EmployeeTerritory>("Grid_EmployeeTerritory")
        //.Datasource(datasource => datasource
        //    .Adaptor(AdaptorType.UrlAdaptor)
        //    .URL(Url.Action("DataSource", "EmployeeTerritory"))
        //)
        .Query(query)        
        .AllowFiltering()
        .AllowGrouping()
        .AllowPaging()
        .AllowReordering()
        //.AllowResizeToFit()
        .AllowResizing()
        //.AllowScrolling()
        .AllowSearching()
        .AllowSorting()
        .AllowTextWrap()
        .TextWrapSettings(wrap =>
        {
            wrap.WrapMode(WrapMode.Both);
        })                    
        .ClientSideEvents(clientEvent => clientEvent
            .ActionBegin("actionBegin_Grid_EmployeeTerritory")
            .ActionFailure("actionFailure_Grid_EmployeeTerritory")
            .Load("load_Grid_EmployeeTerritory")
            .ToolbarClick("toolbarClick_Grid_EmployeeTerritory")
        )
        .Columns(column =>
        {
            column.Field("EmployeeId")
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(EmployeeTerritoryResources.PropertyEmployeeId)
                .IsPrimaryKey(true)
                .TextAlign(TextAlign.Right)
                .Visible(profile.IsGridVisibleFor("EmployeeId"))
                .Width(profile.GridWidthFor("EmployeeId"))
                .Add();
            column.Field("EmployeeLookupText")
                .AllowEditing(false)
                .Type("string")
                .HeaderText(EmployeeResources.EntitySingular)
                .Visible(profile.IsGridVisibleFor("EmployeeLookupText"))
                .Width(profile.GridWidthFor("EmployeeLookupText"))
                .Add();
            column.Field("TerritoryId")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(EmployeeTerritoryResources.PropertyTerritoryId)
                .IsPrimaryKey(true)
                .Visible(profile.IsGridVisibleFor("TerritoryId"))
                .Width(profile.GridWidthFor("TerritoryId"))
                .Add();
            column.Field("TerritoryLookupText")
                .AllowEditing(false)
                .Type("string")
                .HeaderText(TerritoryResources.EntitySingular)
                .Visible(profile.IsGridVisibleFor("TerritoryLookupText"))
                .Width(profile.GridWidthFor("TerritoryLookupText"))
                .Add();
        })
        .EditSettings(edit => edit
            .AllowAdding()
            .AllowDeleting()
            .AllowEditing()
            .AllowEditOnDblClick(false)
        )
        //.EnablePersistence()
        .EnableTouch(false)
        //.IsResponsive(true)
        .FilterSettings(filter => filter
            .EnableCaseSensitivity(false)
            .FilterType(FilterType.Excel)
            .MaxFilterChoices(AppDefaults.SyncfusionRecordsForFiltering)
        )
        //.Mappers(map => map
        //    .ExportToExcelAction(Url.Content("~/EmployeeTerritory/ExportToExcel"))
        //    .ExportToPdfAction(Url.Content("~/EmployeeTerritory/ExportToPdf"))
        //    .ExportToWordAction(Url.Content("~/EmployeeTerritory/ExportToWord"))
        //)
        .PageSettings(page => page
            .PageSize(AppDefaults.SyncfusionRecordsByPage)
        )
        .ShowColumnChooser()
        .ToolbarSettings(toolbar => toolbar
            .CustomToolbarItems(new List<object>() {
                new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Grid_EmployeeTerritory_Toolbar", Tooltip = "" }
            })
            .ShowToolbar()
            .ToolbarItems(items =>
            {
                items.AddTool(ToolBarItems.Search);
                items.AddTool(ToolBarItems.Add);
                items.AddTool(ToolBarItems.Edit);
                items.AddTool(ToolBarItems.Delete);
                //items.AddTool(ToolBarItems.ExcelExport);
                //items.AddTool(ToolBarItems.PdfExport);
                //items.AddTool(ToolBarItems.WordExport);
            })
        )
    )
</div>

<script type="text/x-jsrender" id="Grid_EmployeeTerritory_Toolbar">
    <div id="Grid_EmployeeTerritory_Toolbar_Read" class="e-toolbaricons e-icon e-document" title="@PresentationResources.Read"></div>
    <div id="Grid_EmployeeTerritory_Toolbar_Refresh" class="e-toolbaricons e-icon e-reload" title="@PresentationResources.Refresh"></div>
</script>

<script>
    zSyncfusionCollection("Collection_EmployeeTerritory");
    
    $(function () {
        try {
            zSyncfusionCollectionReady("Collection_EmployeeTerritory");

            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
            var profile = @Html.Raw(JsonConvert.SerializeObject(profile));

            zOnCollectionView(model, profile, "@Url.Action("DataSource", "EmployeeTerritory")");
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "function", exception));
        }                
    });
    
    function actionBegin_Grid_EmployeeTerritory(args) {
        try {
            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
    
            // Associations (FK)
            var url = "";
            switch (model.MasterEntity) {
                case "Employee":
                    url = url + (url == "" ? "" : "&") + "MasterEntity=Employee&MasterKey=" + model.MasterKey;
                    break;
                case "Territory":
                    url = url + (url == "" ? "" : "&") + "MasterEntity=Territory&MasterKey=" + model.MasterKey;
                    break;
            }

            var scrud = zOnCollectionViewActionBeginSCRUD(model);
            switch (args.requestType) {
                case "searching":
                    // Search
                    if (scrud.isSearch) {
                        zSearchDictionaryWrite("EmployeeTerritory", args.keyValue);
                    }
                    break;
                case "add":
                    // Create
                    if (model.ActivityOperations.IsCreate && scrud.isCreate) {
                        $("#ZAjax").load("@(Url.Action("Create", "EmployeeTerritory", null, Request.Url.Scheme))" +
                            (url == "" ? "" : "?") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                    }
                    break;
                case "read":
                    // Read
                    if (model.ActivityOperations.IsRead && scrud.isRead) {
                        var data = args.data;
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Read", "EmployeeTerritory", null, Request.Url.Scheme))?EmployeeId=" + String(data.EmployeeId) + "&TerritoryId=" + String(data.TerritoryId) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;                        
                case "beginedit":
                    // Update
                    if (model.ActivityOperations.IsUpdate && scrud.isUpdate) {
                        var data = this.model.currentViewData[args.rowIndex];
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Update", "EmployeeTerritory", null, Request.Url.Scheme))?EmployeeId=" + String(data.EmployeeId) + "&TerritoryId=" + String(data.TerritoryId) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;
                case "delete":
                    // Delete
                    if (model.ActivityOperations.IsDelete && scrud.isDelete) {
                        var data = args.data;
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Delete", "EmployeeTerritory", null, Request.Url.Scheme))?EmployeeId=" + String(data.EmployeeId) + "&TerritoryId=" + String(data.TerritoryId) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;
            }

            zOnCollectionViewActionBegin(model, args);
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "actionBegin_Grid_EmployeeTerritory", exception));
        }            
    }
    
    function actionFailure_Grid_EmployeeTerritory(args) {
        try {
            zAlert(args.error.responseText);
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "actionFailure_Grid_EmployeeTerritory", exception));
        }
    }    

    function load_Grid_EmployeeTerritory(args) {
        try {            
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            this.model.locale = culture;
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "load_Grid_EmployeeTerritory", exception));
        }
    }

    function toolbarClick_Grid_EmployeeTerritory(sender) {
        try {
            var toolbar = $(sender.target);
            var ejGrid = zGrid("Grid_EmployeeTerritory");

            if (toolbar.prop("id") == "Grid_EmployeeTerritory_Toolbar_Read") {
                var records = ejGrid.getSelectedRecords();
                if (records.length == 1) {
                    var args = { requestType: "read", data: records[0] };
                    actionBegin_Grid_EmployeeTerritory(args);
                }
            }
            else if (toolbar.prop("id") == "Grid_EmployeeTerritory_Toolbar_Refresh") {
                ejGrid.refreshContent();
            }
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "toolbarClick_Grid_EmployeeTerritory", exception));
        }
    }
</script>
