@model OrderCollectionModel

@{
    string CSHTML = "_OrderCollection.cshtml";

    IZProfile profile = DataHelper.GetProfile(typeof(Order));
    // Associations (FK)
    string query = "";
    switch (Model.MasterEntity)
    {
        case "Customer":
            query = String.Format("ej.Query().where(\"CustomerId\", ej.FilterOperators.equal, \"{0}\")", Model.MasterKey);
            break;
        case "Employee":
            query = String.Format("ej.Query().where(\"EmployeeId\", ej.FilterOperators.equal, {0})", Model.MasterKey);
            break;
        case "Shipper":
            query = String.Format("ej.Query().where(\"ShipVia\", ej.FilterOperators.equal, {0})", Model.MasterKey);
            break;
    }
}

<div id="Collection_Order">
    @(Html.EJ().Grid<Order>("Grid_Order")
        //.Datasource(datasource => datasource
        //    .Adaptor(AdaptorType.UrlAdaptor)
        //    .URL(Url.Action("DataSource", "Order"))
        //)
        .Query(query)        
        .AllowFiltering()
        .AllowGrouping()
        .AllowPaging()
        .AllowReordering()
        //.AllowResizeToFit()
        .AllowResizing()
        //.AllowScrolling()
        .AllowSearching()
        .AllowSorting()
        .AllowTextWrap()
        .TextWrapSettings(wrap =>
        {
            wrap.WrapMode(WrapMode.Both);
        })                    
        .ClientSideEvents(clientEvent => clientEvent
            .ActionBegin("actionBegin_Grid_Order")
            .ActionFailure("actionFailure_Grid_Order")
            .Load("load_Grid_Order")
            .ToolbarClick("toolbarClick_Grid_Order")
        )
        .Columns(column =>
        {
            column.Field("OrderId")
                .AllowEditing(false)
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(OrderResources.PropertyOrderId)
                .IsIdentity(true)
                .IsPrimaryKey(true)
                .TextAlign(TextAlign.Right)
                .Visible(profile.IsGridVisibleFor("OrderId"))
                .Width(profile.GridWidthFor("OrderId"))
                .Add();
            column.Field("CustomerId")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(OrderResources.PropertyCustomerId)
                .Visible(profile.IsGridVisibleFor("CustomerId"))
                .Width(profile.GridWidthFor("CustomerId"))
                .Add();
            column.Field("CustomerLookupText")
                .AllowEditing(false)
                .Type("string")
                .HeaderText(CustomerResources.EntitySingular)
                .Visible(profile.IsGridVisibleFor("CustomerLookupText"))
                .Width(profile.GridWidthFor("CustomerLookupText"))
                .Add();
            column.Field("EmployeeId")
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(OrderResources.PropertyEmployeeId)
                .TextAlign(TextAlign.Right)
                .Visible(profile.IsGridVisibleFor("EmployeeId"))
                .Width(profile.GridWidthFor("EmployeeId"))
                .Add();
            column.Field("EmployeeLookupText")
                .AllowEditing(false)
                .Type("string")
                .HeaderText(EmployeeResources.EntitySingular)
                .Visible(profile.IsGridVisibleFor("EmployeeLookupText"))
                .Width(profile.GridWidthFor("EmployeeLookupText"))
                .Add();
            column.Field("OrderDate")
                .Type("datetime")
                .EditType(EditingType.DateTimePicker)
                .Format(SyncfusionPatternResources.GridFormat_DateTime)
                .HeaderText(OrderResources.PropertyOrderDate)
                .Visible(profile.IsGridVisibleFor("OrderDate"))
                .Width(profile.GridWidthFor("OrderDate"))
                .Add();
            column.Field("RequiredDate")
                .Type("datetime")
                .EditType(EditingType.DateTimePicker)
                .Format(SyncfusionPatternResources.GridFormat_DateTime)
                .HeaderText(OrderResources.PropertyRequiredDate)
                .Visible(profile.IsGridVisibleFor("RequiredDate"))
                .Width(profile.GridWidthFor("RequiredDate"))
                .Add();
            column.Field("ShippedDate")
                .Type("datetime")
                .EditType(EditingType.DateTimePicker)
                .Format(SyncfusionPatternResources.GridFormat_DateTime)
                .HeaderText(OrderResources.PropertyShippedDate)
                .Visible(profile.IsGridVisibleFor("ShippedDate"))
                .Width(profile.GridWidthFor("ShippedDate"))
                .Add();
            column.Field("ShipVia")
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(OrderResources.PropertyShipVia)
                .TextAlign(TextAlign.Right)
                .Visible(profile.IsGridVisibleFor("ShipVia"))
                .Width(profile.GridWidthFor("ShipVia"))
                .Add();
            column.Field("ShipperLookupText")
                .AllowEditing(false)
                .Type("string")
                .HeaderText(ShipperResources.EntitySingular)
                .Visible(profile.IsGridVisibleFor("ShipperLookupText"))
                .Width(profile.GridWidthFor("ShipperLookupText"))
                .Add();
            column.Field("Freight")
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Float)
                .HeaderText(OrderResources.PropertyFreight)
                .TextAlign(TextAlign.Right)
                .Visible(profile.IsGridVisibleFor("Freight"))
                .Width(profile.GridWidthFor("Freight"))
                .Add();
            column.Field("ShipName")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(OrderResources.PropertyShipName)
                .Visible(profile.IsGridVisibleFor("ShipName"))
                .Width(profile.GridWidthFor("ShipName"))
                .Add();
            column.Field("ShipAddress")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(OrderResources.PropertyShipAddress)
                .Visible(profile.IsGridVisibleFor("ShipAddress"))
                .Width(profile.GridWidthFor("ShipAddress"))
                .Add();
            column.Field("ShipCity")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(OrderResources.PropertyShipCity)
                .Visible(profile.IsGridVisibleFor("ShipCity"))
                .Width(profile.GridWidthFor("ShipCity"))
                .Add();
            column.Field("ShipRegion")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(OrderResources.PropertyShipRegion)
                .Visible(profile.IsGridVisibleFor("ShipRegion"))
                .Width(profile.GridWidthFor("ShipRegion"))
                .Add();
            column.Field("ShipPostalCode")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(OrderResources.PropertyShipPostalCode)
                .Visible(profile.IsGridVisibleFor("ShipPostalCode"))
                .Width(profile.GridWidthFor("ShipPostalCode"))
                .Add();
            column.Field("ShipCountry")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(OrderResources.PropertyShipCountry)
                .Visible(profile.IsGridVisibleFor("ShipCountry"))
                .Width(profile.GridWidthFor("ShipCountry"))
                .Add();
        })
        .EditSettings(edit => edit
            .AllowAdding()
            .AllowDeleting()
            .AllowEditing()
            .AllowEditOnDblClick(false)
        )
        //.EnablePersistence()
        .EnableTouch(false)
        //.IsResponsive(true)
        .FilterSettings(filter => filter
            .EnableCaseSensitivity(false)
            .FilterType(FilterType.Excel)
            .MaxFilterChoices(AppDefaults.SyncfusionRecordsForFiltering)
        )
        //.Mappers(map => map
        //    .ExportToExcelAction(Url.Content("~/Order/ExportToExcel"))
        //    .ExportToPdfAction(Url.Content("~/Order/ExportToPdf"))
        //    .ExportToWordAction(Url.Content("~/Order/ExportToWord"))
        //)
        .PageSettings(page => page
            .PageSize(AppDefaults.SyncfusionRecordsByPage)
        )
        .ShowColumnChooser()
        .ToolbarSettings(toolbar => toolbar
            .CustomToolbarItems(new List<object>() {
                new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Grid_Order_Toolbar", Tooltip = "" }
            })
            .ShowToolbar()
            .ToolbarItems(items =>
            {
                items.AddTool(ToolBarItems.Search);
                items.AddTool(ToolBarItems.Add);
                items.AddTool(ToolBarItems.Edit);
                items.AddTool(ToolBarItems.Delete);
                //items.AddTool(ToolBarItems.ExcelExport);
                //items.AddTool(ToolBarItems.PdfExport);
                //items.AddTool(ToolBarItems.WordExport);
            })
        )
    )
</div>

<script type="text/x-jsrender" id="Grid_Order_Toolbar">
    <div id="Grid_Order_Toolbar_Read" class="e-toolbaricons e-icon e-document" title="@PresentationResources.Read"></div>
    <div id="Grid_Order_Toolbar_Refresh" class="e-toolbaricons e-icon e-reload" title="@PresentationResources.Refresh"></div>
</script>

<script>
    zSyncfusionCollection("Collection_Order");
    
    $(function () {
        try {
            zSyncfusionCollectionReady("Collection_Order");

            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
            var profile = @Html.Raw(JsonConvert.SerializeObject(profile));

            zOnCollectionView(model, profile, "@Url.Action("DataSource", "Order")");
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "function", exception));
        }                
    });
    
    function actionBegin_Grid_Order(args) {
        try {
            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
    
            // Associations (FK)
            var url = "";
            switch (model.MasterEntity) {
                case "Customer":
                    url = url + (url == "" ? "" : "&") + "MasterEntity=Customer&MasterKey=" + model.MasterKey;
                    break;
                case "Employee":
                    url = url + (url == "" ? "" : "&") + "MasterEntity=Employee&MasterKey=" + model.MasterKey;
                    break;
                case "Shipper":
                    url = url + (url == "" ? "" : "&") + "MasterEntity=Shipper&MasterKey=" + model.MasterKey;
                    break;
            }

            var scrud = zOnCollectionViewActionBeginSCRUD(model);
            switch (args.requestType) {
                case "searching":
                    // Search
                    if (scrud.isSearch) {
                        zSearchDictionaryWrite("Order", args.keyValue);
                    }
                    break;
                case "add":
                    // Create
                    if (model.ActivityOperations.IsCreate && scrud.isCreate) {
                        $("#ZAjax").load("@(Url.Action("Create", "Order", null, Request.Url.Scheme))" +
                            (url == "" ? "" : "?") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                    }
                    break;
                case "read":
                    // Read
                    if (model.ActivityOperations.IsRead && scrud.isRead) {
                        var data = args.data;
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Read", "Order", null, Request.Url.Scheme))?OrderId=" + String(data.OrderId) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;                        
                case "beginedit":
                    // Update
                    if (model.ActivityOperations.IsUpdate && scrud.isUpdate) {
                        var data = this.model.currentViewData[args.rowIndex];
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Update", "Order", null, Request.Url.Scheme))?OrderId=" + String(data.OrderId) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;
                case "delete":
                    // Delete
                    if (model.ActivityOperations.IsDelete && scrud.isDelete) {
                        var data = args.data;
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Delete", "Order", null, Request.Url.Scheme))?OrderId=" + String(data.OrderId) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;
            }

            zOnCollectionViewActionBegin(model, args);
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "actionBegin_Grid_Order", exception));
        }            
    }
    
    function actionFailure_Grid_Order(args) {
        try {
            zAlert(args.error.responseText);
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "actionFailure_Grid_Order", exception));
        }
    }    

    function load_Grid_Order(args) {
        try {            
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            this.model.locale = culture;
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "load_Grid_Order", exception));
        }
    }

    function toolbarClick_Grid_Order(sender) {
        try {
            var toolbar = $(sender.target);
            var ejGrid = zGrid("Grid_Order");

            if (toolbar.prop("id") == "Grid_Order_Toolbar_Read") {
                var records = ejGrid.getSelectedRecords();
                if (records.length == 1) {
                    var args = { requestType: "read", data: records[0] };
                    actionBegin_Grid_Order(args);
                }
            }
            else if (toolbar.prop("id") == "Grid_Order_Toolbar_Refresh") {
                ejGrid.refreshContent();
            }
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "toolbarClick_Grid_Order", exception));
        }
    }
</script>
