@model UserClaimCollectionModel

@{
    string CSHTML = "_UserClaimCollection.cshtml";

    IZProfile profile = DataHelper.GetProfile(typeof(UserClaim));
    // Associations (FK)
    string query = "";
    switch (Model.MasterEntity)
    {
        case "User":
            query = String.Format("ej.Query().where(\"UserId\", ej.FilterOperators.equal, \"{0}\")", Model.MasterKey);
            break;
    }
}

<div id="Collection_UserClaim">
    @(Html.EJ().Grid<UserClaim>("Grid_UserClaim")
        //.Datasource(datasource => datasource
        //    .Adaptor(AdaptorType.UrlAdaptor)
        //    .URL(Url.Action("DataSource", "UserClaim"))
        //)
        .Query(query)
        .AllowFiltering()
        .AllowGrouping()
        .AllowPaging()
        .AllowReordering()
        //.AllowResizeToFit()
        .AllowResizing()
        //.AllowScrolling()
        .AllowSearching()
        .AllowSorting()
        .AllowTextWrap()
        .TextWrapSettings(wrap =>
        {
                wrap.WrapMode(WrapMode.Both);
            })
        .ClientSideEvents(clientEvent => clientEvent
            .ActionBegin("actionBegin_Grid_UserClaim")
            .ActionFailure("actionFailure_Grid_UserClaim")
            .Load("load_Grid_UserClaim")
            .ToolbarClick("toolbarClick_Grid_UserClaim")
        )
        .Columns(column =>
        {
                column.Field("Id")
                    .AllowEditing(false)
                    .Type("number")
                    .EditType(EditingType.NumericEdit)
                    .Format(SyncfusionPatternResources.GridFormat_Integer)
                    .HeaderText(UserClaimResources.PropertyId)
                    .IsIdentity(true)
                    .IsPrimaryKey(true)
                    .TextAlign(TextAlign.Right)
                    .Visible(profile.IsGridVisibleFor("Id"))
                    .Width(profile.GridWidthFor("Id"))
                    .Add();
                column.Field("UserId")
                    .Type("string")
                    .EditType(EditingType.StringEdit)
                    .HeaderText(UserClaimResources.PropertyUserId)
                    .Visible(profile.IsGridVisibleFor("UserId"))
                    .Width(profile.GridWidthFor("UserId"))
                    .Add();
                column.Field("UserLookupText")
                    .AllowEditing(false)
                    .Type("string")
                    .HeaderText(UserResources.EntitySingular)
                    .Visible(profile.IsGridVisibleFor("UserLookupText"))
                    .Width(profile.GridWidthFor("UserLookupText"))
                    .Add();
                column.Field("ClaimType")
                    .Type("string")
                    .EditType(EditingType.StringEdit)
                    .HeaderText(UserClaimResources.PropertyClaimType)
                    .Visible(profile.IsGridVisibleFor("ClaimType"))
                    .Width(profile.GridWidthFor("ClaimType"))
                    .Add();
                column.Field("ClaimValue")
                    .Type("string")
                    .EditType(EditingType.StringEdit)
                    .HeaderText(UserClaimResources.PropertyClaimValue)
                    .Visible(profile.IsGridVisibleFor("ClaimValue"))
                    .Width(profile.GridWidthFor("ClaimValue"))
                    .Add();
            })
        .EditSettings(edit => edit
            .AllowAdding()
            .AllowDeleting()
            .AllowEditing()
            .AllowEditOnDblClick(false)
        )
        //.EnablePersistence()
        .EnableTouch(false)
        //.IsResponsive(true)
        .FilterSettings(filter => filter
            .EnableCaseSensitivity(false)
            .FilterType(FilterType.Excel)
            .MaxFilterChoices(AppDefaults.SyncfusionRecordsForFiltering)
        )
        //.Mappers(map => map
        //    .ExportToExcelAction(Url.Content("~/UserClaim/ExportToExcel"))
        //    .ExportToPdfAction(Url.Content("~/UserClaim/ExportToPdf"))
        //    .ExportToWordAction(Url.Content("~/UserClaim/ExportToWord"))
        //)
        .PageSettings(page => page
            .PageSize(AppDefaults.SyncfusionRecordsByPage)
        )
        .ShowColumnChooser()
        .ToolbarSettings(toolbar => toolbar
            .CustomToolbarItems(new List<object>() {
                new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Grid_UserClaim_Toolbar", Tooltip = "" }
    })
            .ShowToolbar()
            .ToolbarItems(items =>
            {
        items.AddTool(ToolBarItems.Search);
        items.AddTool(ToolBarItems.Add);
        items.AddTool(ToolBarItems.Edit);
        items.AddTool(ToolBarItems.Delete);
        //items.AddTool(ToolBarItems.ExcelExport);
        //items.AddTool(ToolBarItems.PdfExport);
        //items.AddTool(ToolBarItems.WordExport);
    })
        )
    )
</div>

<script type="text/x-jsrender" id="Grid_UserClaim_Toolbar">
    <div id="Grid_UserClaim_Toolbar_Read" class="e-toolbaricons e-icon e-document" title="@PresentationResources.Read"></div>
    <div id="Grid_UserClaim_Toolbar_Refresh" class="e-toolbaricons e-icon e-reload" title="@PresentationResources.Refresh"></div>
</script>

<script>
    zSyncfusionCollection("Collection_UserClaim");

    $(function () {
        try {
            zSyncfusionCollectionReady("Collection_UserClaim");

            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
    var profile = @Html.Raw(JsonConvert.SerializeObject(profile));

    zOnCollectionView(model, profile, "@Url.Action("DataSource", "UserClaim")");
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "function", exception));
        }
    });

    function actionBegin_Grid_UserClaim(args) {
        try {
            var model = @Html.Raw(JsonConvert.SerializeObject(Model));

            // Associations (FK)
            var url = "";
            switch (model.MasterEntity) {
                case "User":
                    url = url + (url == "" ? "" : "&") + "MasterEntity=User&MasterKey=" + model.MasterKey;
                    break;
            }

            var scrud = zOnCollectionViewActionBeginSCRUD(model);
            switch (args.requestType) {
                case "searching":
                    // Search
                    if (scrud.isSearch) {
                        zSearchDictionaryWrite("UserClaim", args.keyValue);
                    }
                    break;
                case "add":
                    // Create
                    if (model.ActivityOperations.IsCreate && scrud.isCreate) {
                        $("#ZAjax").load("@(Url.Action("Create", "UserClaim", null, Request.Url.Scheme))" +
                            (url == "" ? "" : "?") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                    }
                    break;
                case "read":
                    // Read
                    if (model.ActivityOperations.IsRead && scrud.isRead) {
                        var data = args.data;
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Read", "UserClaim", null, Request.Url.Scheme))?Id=" + String(data.Id) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;
                case "beginedit":
                    // Update
                    if (model.ActivityOperations.IsUpdate && scrud.isUpdate) {
                        var data = this.model.currentViewData[args.rowIndex];
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Update", "UserClaim", null, Request.Url.Scheme))?Id=" + String(data.Id) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;
                case "delete":
                    // Delete
                    if (model.ActivityOperations.IsDelete && scrud.isDelete) {
                        var data = args.data;
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Delete", "UserClaim", null, Request.Url.Scheme))?Id=" + String(data.Id) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;
            }

            zOnCollectionViewActionBegin(model, args);
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "actionBegin_Grid_UserClaim", exception));
        }
    }

    function actionFailure_Grid_UserClaim(args) {
        try {
            zAlert(args.error.responseText);
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "actionFailure_Grid_UserClaim", exception));
        }
    }

    function load_Grid_UserClaim(args) {
        try {
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            this.model.locale = culture;
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "load_Grid_UserClaim", exception));
        }
    }

    function toolbarClick_Grid_UserClaim(sender) {
        try {
            var toolbar = $(sender.target);
            var ejGrid = zGrid("Grid_UserClaim");

            if (toolbar.prop("id") == "Grid_UserClaim_Toolbar_Refresh") {
                ejGrid.refreshContent();
            } else if (toolbar.prop("id") == "Grid_UserClaim_Toolbar_Read") {
                var records = ejGrid.getSelectedRecords();
                if (records.length == 1) {
                    var args = { requestType: "read", data: records[0] };
                    actionBegin_Grid_UserClaim(args);
                }
            }
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "toolbarClick_Grid_UserClaim", exception));
        }
    }
</script>
